<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>763732558817-a4vuciblrmdot58r9sibp06dj3smaeki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.763732558817-a4vuciblrmdot58r9sibp06dj3smaeki</string>
	<key>API_KEY</key>
	<string>AIzaSyCVKSm1WhewMFIMP3OeK4GaETGr6SVJr8M</string>
	<key>GCM_SENDER_ID</key>
	<string>763732558817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.capital.fam</string>
	<key>PROJECT_ID</key>
	<string>creditfam-89eee</string>
	<key>STORAGE_BUCKET</key>
	<string>creditfam-89eee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:763732558817:ios:7711bc98187b3188</string>
	<key>DATABASE_URL</key>
	<string>https://creditfam-89eee.firebaseio.com</string>
</dict>
</plist>